<mat-sidenav-container class="app-container">
  <!-- Criação de um menu lateral se for um dispositivo mobile -->
  <mat-sidenav #drawer class="app-sidenav" mode="over" [opened]="false">
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of itensMenu" [routerLink]="item.route" (click)="drawer.close()">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Conteúdo principal -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- Botão só esta disponivel em mobile -->
      <button
        type="button"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>

      <span>Gerenciamento de Usuários</span>
      <span class="spacer"></span>

      
      <!-- Menu para desktop -->
 <ng-container *ngIf="!(isHandset$ | async)">
  <button mat-button 
          *ngFor="let item of itensMenu" 
          [routerLink]="item.route"
          [matTooltip]="item.label" 
          matTooltipPosition="below" 
          matTooltipShowDelay="400">
    <mat-icon>{{ item.icon }}</mat-icon>
    {{ item.label }}
  </button>
</ng-container>
    </mat-toolbar>

    <!-- Imagem do menu principal -->
    <div class="menu-image">
      <img src="/IRIS.jpg" alt="Banner" />
    </div>

    <!-- Div reservada para as rotas -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
